{% extends 'layout.html' %}

{% block content %}
<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
  <div class="border p-3 border-info">
    <div class="h1 pb-2 mb-4 border-bottom border-info">
      Danh sách khách hàng
    </div>
    <table id="data-table" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Table Space</th>
          <th scope="col">Quota</th>
          <th scope="col">Status</th>
          <th scope="col">Profile</th>
          <th scope="col">Role</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {%for p in user%}
        <tr>
          <th scope="row">{{p.id}}</th>
          <td>{{p.username}}</td>
          <td>{{p.tablespace}}</td>
          <td>{{p.quota}}</td>
          <td>{{p.status}}</td>
          <td>{{p.profile}}</td>
          <td>{{p.role}}</td>
          <td>
            <div class="button__action__container ">
              <div class="button__action__wrapper">
                <button class=" button__action--eye " data-bs-toggle="modal" data-bs-target="#create-form" data-bs-whatever={{p}}>
                  <i class='bx bxs-bullseye'></i>
                </button>
              </div>
              <div class="button__action__wrapper">
                <button class=" button__action--pencil " data-bs-toggle="modal" data-bs-target="#update-form" data-bs-whatever={{p}}>
                  <i class='bx bx-pencil'></i>
                </button>
              </div>
              <div class="button__action__wrapper">
                <button class=" button__action--lock ">
                  <i class='bx bx-lock'></i>
                </button>
              </div>
              <div class="button__action__wrapper">
                <button class=" button__action--track ">
                  <i class='bx bx-trash'></i>
                </button>
              </div>
              <div class="button__action__wrapper">
                <button class=" button__action--cabinet ">
                  <i class='bx bx-cabinet'></i>
                </button>
              </div>

            </div>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    <div class="modal fade" id="update-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Username:</label>
                <input type="text" class="form-control" id="username-update">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Table Space:</label>
                <input type="text" class="form-control" id="table-space-update">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Quota:</label>
                <input type="text" class="form-control" id="quota-update">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Status:</label>
                <input type="text" class="form-control" id="status-update">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Profile:</label>
                <input type="text" class="form-control" id="profile-update">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Role:</label>
                <input type="text" class="form-control" id="role-update">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="create-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Username:</label>
                <input type="text" class="form-control" id="username">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Table Space:</label>
                <input type="text" class="form-control" id="table-space">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Quota:</label>
                <input type="text" class="form-control" id="quota">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Status:</label>
                <input type="text" class="form-control" id="status">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Profile:</label>
                <input type="text" class="form-control" id="profile">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Role:</label>
                <input type="text" class="form-control" id="role">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

{% endblock %}
