{% extends 'layout.html' %}

{% block content %}
<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
  <div class="border p-3 border-info">
    <div class="h1 pb-2 mb-4 border-bottom border-info">
      Danh sách khách hàng
    </div>
    <table id="data-table" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Mã khách hàng</th>
          <th scope="col">Tên đơn vị</th>
          <th scope="col">Tên khách hàng</th>
          <th scope="col">Email</th>
          <th scope="col">SĐT</th>
          <th scope="col">MST</th>
          <th scope="col">Nhóm khách hàng</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>CNS</td>
          <td>bao</td>
          <td>Thach</td>
          <td>thachtt@gmail.com</td>
          <td>0356734540</td>
          <td></td>
          <td>Cong nghiep</td>
          <td class="status badge bg-primary">Dang ap dung</td>
          <td>s</td>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}