{% extends 'layout.html' %}

{% block content %}
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
    </nav>
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Danh sách profile</a>
        
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
        </nav>
        <table id="data-table" class="table">
            <thead>
                <tr>
                  <th scope="col">Hành động</th>
                  <th scope="col">STT</th>
                  <th scope="col">Tên profile</th>
                  <th scope="col">Session_per_user</th>
                  <th scope="col">Connect_time</th>
                  <th scope="col">Idle_time</th>
                  <th scope="col">Trạng thái</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th <form><input type="checkbox"</form> </th>
                  <th scope="row">1</th>
                  <td>Unlimited</td>
                  <td>20</td>
                  <td>50</td>
                  <td>100</td>
                  <td class="status badge bg-primary">Đang áp dụng</td>
                </tr>
                <tr>
                    <th <form><input type="checkbox"</form> </th>
                    <th scope="row">2</th>
                    <td>Unlimited</td>
                    <td>20</td>
                    <td>50</td>
                    <td>100</td>
                    <td class="status badge bg-primary">Chưa áp dụng</td>
                  </tr>
              </tbody>
          </table>
      </li>   
    </ul> 
    
</div>

{% endblock %}